@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

:root {
 --site-width: 1000px;
 --mlr-color: #03638e;
}

.content {
  max-width: var(--site-width);
  font-size: 18px;
  font-family: "Roboto", sans;
}

.nav {
  max-width: var(--site-width);
}

h2.archive-title {
  font-size: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-logo img {
  border-radius: 0;
}

#tag-cloud {
  padding: 0 !important;
}

#tag-cloud a {
  display: inline-block;
  padding: 2px 0.5em;
  margin: 5px 0.2em;
  background-color: var(--mlr-color);
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

#tag-cloud a:hover {
  filter: brightness(140%);
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.article-content a {
    box-shadow: none;
    border-bottom: 2px solid #03638e;
    background: transparent;
}

.article-content a:hover,
.article-content a:focus {
  background: none;
  color: var(--mlr-color);
}
