pre.text-output {
    background: #f8f6f6;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 13px;
}

/* fix logo position */
.distill-site-header .logo img {
    margin-bottom: 0px;
}
