pre.text-output {
    background: #f8f6f6;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 13px;
}

table td {
    font-size: 9px !important;
}

table th {
    font-size: 9px !important;
}